$sm: 375px;



$grayish-blue: hsl(237, 18%, 59%);
$soft-red: hsl(345, 95%, 68%);


$white: hsl(0, 0%, 100%);
$Dark-desaturated-blue_1: hsl(236, 21%, 26%);
$Dark-desaturated-blue: hsla(236, 21%, 26%,0.8);
$very-dark-blue: hsl(235, 16%, 14%);
$very-dark-black-blue: hsl(234, 17%, 12%);